* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
}

body hr {
    border: 0;
    background: #9c97f1;
    height: 2px;
    margin: 72px 90px;
}