.about-section-top,
.experience-section-top,
.project-section-top {
    max-width: 80vw;
    margin: auto;
}

.about-section h1,
.experience-section h1,
.project-section h1 {
    font-size: 3rem;
}

.text-gray {
    color: gray;
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.about-section-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 60px;
    padding: 0 130px;
}

.about-image-container {
    width: 32%;
}

.about-image-container img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.about-text-container {
    width: 60%;
}

.about-text-container p {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 14px;
    color: rgb(160, 160, 160);
}

.about-last-para {
    margin-bottom: 0px;
}

.experience-section-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-section-body {
    margin: 60px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 90px;
    column-gap: 180px;
    /* padding-left: 150px;
    padding-right: 120px; */
}