.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    z-index: 100;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(18, 18, 75);
}

.nav-list {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.nav-list li {
    list-style: none;
    margin: 0 24px;
}

.left-nav-section {
    font-size: 2.5rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    transition: font-size 0.2s ease-in-out;
}

.nav-list li a:hover {
    color: rgb(155, 155, 230);
    font-size: 1.56rem;
}

.left-nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    margin-right: 24px;
}

.nav-bar-img-container img {
    width: 64px;
    /* height: 50px; */
    /* border-radius: 50%;
    border: 2px solid white; */
}

@media (min-width: 1275px) and (max-width: 1599px){
    .nav-list {
        font-size: 1.4rem;
    }

    .nav-list li {
        list-style: none;
        margin: 0 14px;
    }
    
    .left-nav-section {
        font-size: 2.36rem;
    }

    .nav-bar-img-container {
        width: 56px;
        margin-right: 16px;
    }
    
    .nav-bar-img-container img {
        width: 100%;
    }

    .nav-list li a:hover {
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) and (max-width: 1274px){
    * {
        transition: font-size 0.2s ease-in-out;
        transition: height 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
      } 

    .nav-container {
        height: 75px;
    }

    .nav-bar {
        height: 75px;
    }
    
    .nav-list {
        font-size: 1.2rem;
    }

    .nav-list li {
        list-style: none;
        margin: 0 10px;
    }
    
    .left-nav-section {
        font-size: 2rem;
    }

    .nav-bar-img-container {
        width: 48px;
        margin-right: 12px;
    }
    
    .nav-bar-img-container img {
        width: 100%;
    }
}