.project-card {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.project-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  /* width: 200px;
  height: 264px; */
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.64s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.project-heading {
  font-size: 1.75rem;
  text-transform: capitalize;
  font-weight: 600;
}

.project-description {
  font-size: 1.1rem;
}

.project-card-github-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.project-card-github,
.project-card-demo {
  color: #e81cff;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.25s ease-in-out;
  margin-right: 16px;
}

.project-card-github:hover,
.project-card-demo:hover {
  color: #989499;
  /* font-weight: 600; */
  font-size: 1.33rem;
  /* transition: font-size 0.2s ease-in-out; */
}

.project-card:hover::after {
  filter: blur(30px);
}

.project-card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.project-card-github-container a{
  text-decoration: none;
  color: #e81cff;
}

@media (min-width: 1200px) and (max-width: 1399px){
  * {
    transition: all 0.2s ease-in-out;
  } 

  .project-card {
    width: 285px;
    height: 440px;
    padding: 18px;
    gap: 10px;
    border-radius: 7px;
  }
  
  .project-card::before {
    width: 350px;
    height: 490px;
    border-radius: 9px;
  }
  
  .project-heading {
    font-size: 1.56rem;
    text-transform: capitalize;
    font-weight: 600;
  }
  
  .project-description {
    font-size: 1rem;
  }
  
  .project-card-github,
  .project-card-demo {
    color: #e81cff;
    font-weight: 600;
    font-size: 1.22rem;
    transition: all 0.25s ease-in-out;
    margin-right: 16px;
  }
  
  .project-card-github:hover,
  .project-card-demo:hover {
    color: #989499;
    /* font-weight: 600; */
    font-size: 1.29rem;
    /* transition: font-size 0.2s ease-in-out; */
  } 
}